<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=El+Messiri|Fredoka+One|Lobster|Marmelad|Oranienbaum|Tenor+Sans&display=swap" rel="stylesheet">
  <script src="./vueDoc.js"></script>
  <title>CourSuggest</title>
</head>

<body>
  <div class="main">
    <div class="header">
      <div class="Suggest">
        <h1 style="font-size: 25px;font-family: 'Fredoka One', cursive;">CourSuggest<sup><i
              class="fab fa-connectdevelop"></i></sup></h1>
        <p style="font-size: 13px;font-family: 'Lobster', cursive;">Хичээл сонголтын туслах</p>
      </div>
      <div class="head-item"><a href=""><i class="fas fa-igloo"></i> Home</a></div>
      <div class="head-item"><a href=""><i class="fab fa-audible"></i> About</a></div>
      <div class="head-item"><a href=""><i class="fas fa-tty"></i> Contact</a></div>
    </div>
    <div class="body">
      <div class="container1">
          <input style=" height: 25px ; width: 220px;"placeholder=" Хичээлийн нэрийг оруулна уу.">
          <button class="buttton" @click="search()" type="submit">
            <i class="fab fa-searchengin"></i> Хайх
          </button>
        
      </div>
      <div class="about">
        <div>Хичээлийн мэдээлэл</div>
        <div >
          <div class="info">
            <div class="side-info">
              <div class="name">Салбар Сургууль</div>
              <div class="name">Тэнхим</div>
              <div class="name">Заагдах улирал</div>
              <div class="name">Түвшин</div>
              <div class="name">Багц цаг</div>
              <div class="name">Төлөвлөгөө</div>
              </div>
            <div class="side-info"><div>ХШУИС</div>
            <div>МКУТ</div>
            <div>Намрын улирал</div>
            <div>Бакалавр</div>
            <div>3 бц</div>
            <div>2015</div></div>
        </div>
        </div>
      </div>
      <div class="container2">
        <div class="cont2">
          <div>Хичээлийн дүн <i style="color: #204261;" class="fas fa-chart-bar"></i></h2>
          </div>
          <div>Багш нар <i style="color: #204261;"class="fas fa-chalkboard-teacher"></i></div>
        </div>
        <div class="cont3">
          <div style="background-color: #bdbdbd;" class="list">
            <div class="subtitle">
              <div>Үсгэн дүн</div>
              <div>Нийт хэмжээ</div>
            </div>
            <div class="wrap">
            
              <div class="data"v-if="isDun" v-for="d in dun">
                <div>{{d.Үсгэн_дүн}} </div> 
              <div>{{d.Үсгэн_дүн_тоо}} </div>
              </div>
            </div>
          </div>
          <div class="list" style="background-color: #bdbdbd;">
            <div class="subtitle">
              <div>Багшийн нэр</div>
              <div>Эрэлт</div>
            </div>
            <div class="wrap">
            
              <div class="data" v-if="isLoad" v-for="b in bagsh">
                <div>{{b.Багшийн_нэр}} </div>
              <div> {{b.index.toFixed(2)}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">Created By: CourSuggest<sup><i class="fab fa-connectdevelop"></i></sup> team</div>
  </div>
</div>
  <script src="./main.js"></script>

</body>

</html>