@media only screen and (min-width:769px){
    html{
        margin: 0 200px;
        padding: 0;
    }
    .data{
        margin: 0 10%;
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 1%;
        background-color: rgb(131, 181, 222, 0.2);
        margin-bottom: 3%;
        
    }
    .header{
        padding-left: 10%;
    }
    .search{
        text-align: center;
        margin: 1%;
    }
    .info{
        padding-bottom: 5%;
    }
    .footer{
        margin-top: 2%;
    }
    
}


@media only screen and (max-width:768px){
html {
    margin: 0;
    padding: 0;
}
.header{
    
    text-align: center;
}
.data{
    margin: 0 10%;
    display: grid;
    grid-auto-rows: auto auto;
    grid-row-gap: 1% ;
    background-color: rgb(131, 181, 222, 0.2);;
    margin-bottom: 3%;
}
.search{
    text-align: center;
    margin: 3%;
}
.info{
    padding-bottom: 10%;
}
.footer{
    margin-top: 10%;
}
}

*************************************************************
.main{
    background-color:  #f2f6ff;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 3%;
    margin: 0;
    padding: 0;
}
.header{
    background-color: #204261;
    border-radius: 10px 10px 0 0  ;
    color: #ebf5fa;
}
.body{
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: #f2f6ff;
    grid-row-gap: 3%;
}
.footer{
    float: bottom;
    color: #ebf5fa;
    background-color: rgb(32, 65, 96);
    border-radius: 0 0 10px 10px;
    text-align: center;
}
.result{
    display: grid;
    grid-template-rows: 0.5fr 4fr;
    background-color: rgb(131, 181, 222, 0.2);
}
h1{
    margin-bottom: 0;
}
p{
    margin: 0 auto;
}
input{
    font-family: 'Oranienbaum', serif;
    width: 65%;
}
.info{
    font-family: 'Oranienbaum', serif;
    background-color: rgb(131, 181, 222, 0.2);
    margin: 0 10%;
    display: grid;
    grid-template-rows: auto auto;
}
.inf0{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
.subtitle{
    text-align: center;
    background-color: rgb(131, 181, 222, 0.5);
}
.wrap{
    display: grid;
    grid-template-rows: auto;
}
.data-result{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
button {
    border: 0;
    background-color: rgb(131, 181, 222) ; 
    border-radius: 2px; 
    text-align: center; 
    color: #204261; 
    box-shadow: 1px 1px 1px #204261;
    cursor: crosshair;
  }
  .name{
    background-color: rgb(131, 181, 222, 0.3);
  }
  .inff{
   display: grid;
   grid-template-rows: auto auto auto auto auto auto;
   grid-row-gap: 5% ;
   margin: 0 5%;
  }
  .title{
      background-color:rgb(131, 181, 222, 0.6); 
      margin-bottom: 3%;
  }
  .haha{
    background-color:rgb(131, 181, 222, 0.3);
    margin: 1%;
  }