html{
    background-color: #f0f1f2;
    margin: 0 200px;
    padding: 0;
}
.main{
    display: grid;
    grid-template-rows: 80px 620px 40px;
    grid-row-gap: 3px;
}
.header{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #204261;
}
.Suggest{
    text-align: center;
    padding-top: 0;
    margin: 0;
    color: #ebf5fa;
}
p{
    margin-top: 0;
}
h1{
    margin-bottom: 0;
}
.body{
    display: grid;
    grid-template-rows: 100px auto;
    background-color: #f2f6ff;
}
.footer{
    background-color: #8bb6cc;
    text-align: center;
}
.head-item{
    margin-top: 30px;
    text-align: center;
}
a{ 
    text-decoration: none;
    color: white;
}
a:hover{
  color: gold;
  font-size: large;
}
.container1{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.button{
    text-align: center;
    margin-top: 20px;
}
select{
    border: 0;
    border-radius: 6px;
    background-color: #bcc7e6;
}
.container2{
    display: grid;
    grid-template-rows: 80px auto;
    text-align: center;
    
}
.cont2{
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
    font-family: 'El Messiri', sans-serif;
}
.title{
    padding-top: 20px;
    background-color: #3d59a6;
}