<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UManager</title>
    <link rel="stylesheet" href="../style/index.css">
</head>

<body>
    <div class="main">
        <div class="header ">
            <div class="settings">
                <div class="container">
                </div>
            </div>
            <div class="menu">
                <div class="container">
                    <div class="logo"></div>
                    <div class="navigation">
                        <ul>
                            <li>
                                <button>
                                    <a href="/class">
                                        course
                                    </a>
                                </button>
                            </li>
                            <li>
                                <button>
                                    program
                                </button>
                            </li>
                            <li>
                                <button>
                                    schedule
                                </button>
                            </li>
                        </ul>
                    </div>
                    <input type="text" name="" id="">
                </div>
            </div>
        </div>
        <div class="body">
            <div class="content wrapper">
                <%-body%>
            </div>
        </div>
        <div class="footer ">
            <div class="container"></div>
        </div>
    </div>

</body>

</html>