
        body,html{
            margin: 0;
            padding: 0;
            font-family: 'Open Sans';
            scroll-behavior: smooth;
        }
        :root{
            --head: #1b4588;
            --login: #143b78;
        }
        div {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
        }
        .login{
            height:31px;
            background: var(--login);
        }
        .head {
            background: var(--head);
            height: 91px;
        }
        .logo{
            flex-direction: row;
        }
        .h1{
            flex-direction: row;
            color: whitesmoke;
    
        }
        .buttons{
            height: 91px;
            text-align: center;
            line-height: 91px;
        }
        i{
            margin-top: 36px;
        }
        .buttons:hover{
            background-color: var(--login);
            cursor: pointer;
        }
        .body {
            min-height: 300px;
        }
        .body-item{
            min-height: 80px;
        }
        .type{
            margin-top: 5%;
            flex-direction: row;
        }
        button{
            height: 50px;
            width: 50px;
            border-radius: 0 5px 5px 0;
            border: 1px solid #eee;
            background-color: white;
        }
        a{
            text-decoration: none;
            color: whitesmoke;
        }
        .footer-container {
            min-height: 250px;
            background-color: var(--head);
            text-align: center;
            padding-top:4% ;
            padding-bottom:4% ;
            color: whitesmoke;
        }
        input{
            border: 1px solid #eee;
            border-radius: 5px 0 0 5px;
            height: 46px;
            width: 90%;
        }
        ::placeholder{
            padding: 0 20px;
        }
        img{
            margin: 1.5% 0;
            height: 70px;
            width: 70px;
            padding-right: 10px;
        }
        .title{
            text-align: center;
        }
        th,td{
            border: 1px solid #eee;
        }
        hr{
            width: 100%;
            color: white;
        }
        @media only screen and (min-width:769px) {
            .data{
                flex-direction: row;
                text-align: center;
            }
            .footer-container{
                flex-direction: row;
            }
            .fit{
                padding: 0 10%;
            }
            .footer-script{
                height: 190px;
                width: auto;
                padding-bottom: 20px;
            }
            .last{
                margin-bottom: 23px;
            }
        }
        @media only screen and (max-width:768px) {
            .data{
                flex-direction: column;
                text-align: center;
            }
            .footer-container{
                flex-direction: column;
            }
            .fit{
                padding: 0 2%;
            }
            .footer-script{
                height: auto;
                width: 50%;
                margin:8% 12%;
                 padding: 0 12%;
            }
            
        }
        .data-result{
            flex-direction: row;
        }
        .md{
            opacity: 0.5;
        }
        a:hover{
            text-decoration: underline;
        }
        
